body {
    font-size: 15pt;
    background-color: grey
}
h1{
  color: ghostwhite;
}
p{
  color: ghostwhite;
  font-family: Verdana;
}
.intro {
  text-align: center
}
h1{
  text-align: center
}
}
img{
  border: none
}